@import url("https://use.typekit.net/ikt6hwz.css");

:root{
    --background: rgb(24, 20, 25);
    --text: rgb(193, 19, 216);
    font-size: 1.8vw;
}

html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'elza-text', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background);
    color: var(--text);
    overflow-y:hidden;
}

.light{
    font-weight: 300;
    font-style: normal;
}

.regular{
    font-weight: 400;
    font-style: normal;
}

.italic {
    font-weight: 400;
    font-style: italic;
}

.semi-bold {
    font-weight: 600;
    font-style: normal;
}

.bold {
    font-weight: 700;
    font-style: normal;
}

.page{
    margin-left: 15vw;
    margin-left: 15vw;
    width: 70vw;

    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 80vh;
    display: grid;
    grid-template-columns: 44.9% 0.1% 55%;
}



.nav{
    display: flex;
    flex-direction: column;
}

.title{
    margin-bottom: 10%;
}

.title .name-top{
    display: flex;
    flex-direction: row;

}

.title p{
    margin: 0;
    margin-right: 5%;
}

.title .name {
    font-size: 2.55rem;
    margin: 0;
}

.navbar{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.navbar a{
    color: var(--text);
    text-decoration: none;
    transition: opacity 0.5s;
}

.navbar li {
    
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 1.5rem;
    font-weight: 600;
}

/*NEW FEATURE :has psuedo class*/
.navbar:has(a:hover) a:not(:hover) {
    opacity: 0.5;
}


.underline{
    width: 0%;
    height: 0.09rem;
    background-color: var(--text);
    transition: width 0.6s ease-in-out;
}

.navbar li > div:hover .underline{
    width: 100%;
}



.content-section{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.content-section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.content-block{
    overflow-y: hidden;
    height: 80vh;
    max-height: 80vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
}



